body {
    font-family: Arial, sans-serif;
    background-image: url('bg.jpg');
    background-attachment: fixed;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}



main {
    margin-top: 30px;
}

h2 {
    font-family: 'Georgia', serif;
    color: #dfdddd;
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: bold;
}

.courses-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.course-card {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 10px;
    width: 300px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    transition: transform 0.4s;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);

}

.course-card:hover {
    transform: translateY(-10px);
}

.course-card img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    opacity: 0.8;
}

.course-card h3 {
    margin-top: 20px;
    font-size: 18px;
    color: #ffffff;
    font-family: 'Georgia', serif;

}

.youtube-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.2);
    font-weight: bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(5px);
    transition: background-color 0.2s;

}

.youtube-button:hover {
    font-weight: bold;
    color: #1b1b1b;
    background-color: #ffffff;
}

footer {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.social-links a {
    font-size: 14px;
    font-weight: thin;
    color: white;
    text-decoration: none;
    margin: 0 20px;
}




